body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    color: antiquewhite;
}

p{
    font-size:0.5rem;
}

a {
    /* font-size: large; */
    color: aliceblue;
    text-decoration-line:none;
}

h1{
    font-size: 1rem;
}

.more{
    text-align: center;
    /* color: aqua; */
}

#bg-parent {
    position: relative;
    width: auto;
    height: auto;
}

#bg {
    /* background-color: #000000; */
    background: url("../image/main-bg.jpeg") no-repeat;
    background-size: cover;
    /* border-color: aqua; */
    /* width: auto; */
    border-style: none;
    /* background-attachment:scroll;
    background-clip:border-box; */
    padding-bottom: 62.5%;
}

.sensing-area {
    position: absolute;
    /* border: solid 1px rgb(255, 255, 255); */
    border-radius: 50%;
    /* visibility:hidden; */
}

.description {
    display: none;
    position: absolute;
    border: solid 1px aqua;
    border-radius: 4px !important;
    font-size: 1rem;
    max-width: 20em;
    /* box-shadow: 0 .5em 1em 0 rgba(245, 6, 6, 0.904); */
    padding: 1em 1em;
    /* width: auto; */
    background-color: #00000066;
}

.sensing-area:hover+.description {
    display: block;
}

.description:hover {
    display: block;
}

#s-yl:hover{
    background-color: #ffffff66;
    box-shadow: 0 0 100px #ffffff;
}
/* ======================================= */
#s-yl {
    left: 34.7%;
    top: 25.67%;
    width: 10.88%;
    height: 17.34%;
}
#yl {
    left: 40.28%;
    top: 33.33%;
}
#s-wws {
    left: 63.6%;
    top: 16.85%;
    width: 6.71%;
    height: 10.74%;
}
#wws {
    left: 67.01%;
    top: 22.5%;
}
#s-ll {
    left: 22.69%;
    top: 8.89%;
    width: 2.89%;
    height: 4.63%;
}
#ll {
    left: 24.19%;
    top: 11.39%;
}
#s-ic {
    left: 78.07%;
    top: 14.07%;
    width: 3.82%;
    height: 6.11%;
}
#ic {
    left: 79.92%;
    top: 17.13%;
}
#s-x1 {
    left: 7.12%;
    top: 30.46%;
    width: 4.46%;
    height: 7.13%;
}
#x1 {
    left: 9.38%;
    top: 34.35%;
}
#s-x2 {
    left: 61.34%;
    top: 0.56%;
    width: 3.3%;
    height: 5.28%;
}
#x2 {
    left: 63.02%;
    top: 3.15%;
}
#s-x3 {
    left: 35%;
    top: 2.87%;
    width: 2.71%;
    height: 4.35%;
}
#x3 {
    left: 36.4%;
    top: 5.28%;
}
#s-x4 {
    left: 1.74%;
    top: 51.48%;
    width: 3.3%;
    height: 5.27%;
}
#x4 {
    left: 3.41%;
    top: 54.17%;
}
#s-x5 {
    left: 13.66%;
    top: 68%;
    width: 3.47%;
    height: 5.56%;
}
#x5 {
    left: 15.4%;
    top: 70.93%;
}
#s-x6 {
    left: 33%;
    top: 67.04%;
    width: 3.47%;
    height: 5.56%;
}
#x6 {
    left: 34.78%;
    top: 69.90%;
}
#s-x7 {
    left: 86.34%;
    top: 47.59%;
    width: 3.47%;
    height: 5.56%;
}
#x7 {
    left: 88.08%;
    top: 50.56%;
}
#s-x8 {
    left: 0%;
    top: 71.11%;
    width: 3.47%;
    height: 5.56%;
}
#x8 {
    left: 1.16%;
    top: 73.8%;
}
/* #s-x9 {
    left: 2.31%;
    top: 8.24%;
    width: 3.47%;
    height: 5.56%;
}
#x9 {
    left: 3.99%;
    top: 10.56%;
} */

/* #x {
    position: absolute;
}

#x img {
    opacity: .5;
    width: 50px;
} */



@keyframes breathing {
    0% {box-shadow: 0 0 20px 20px #ffffff;}
    100% {box-shadow: 0 0 200px 20px #ffffff;}
}

#ani-yl {
    position: absolute;
    border-radius: 50%;
    /* border: 3px solid; */
    background-color: #ffffff;
    left: 36.5%;
    top: 28.6%;
    width: 7.06%;
    height: 11.3%;
    /* box-shadow: 0 0 100px 0px #ff0000; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: breathing 3.8s linear .1s infinite alternate-reverse;
}

@keyframes breathing2 {
    0% {box-shadow: 0 0 0px 0px #ffffff;}
    100% {box-shadow: 0 0 16px 8px #ffffff;}
}
#ani-ll {
    position: absolute;
    border-radius: 50%;
    /* border: 3px solid; */
    background-color: #ffffff;
    left: 23.9%;
    top: 10.926%;
    width: 0.58%;
    height: 0.926%;
    /* box-shadow: 0 0 100px 0px #ff0000; */
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: breathing2 2s linear .2s infinite alternate-reverse;
}