a {
    text-decoration: none;
    color: inherit;
}

#cap {
    text-align: center;
}

div.card {
    float: left;
    width: 356px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.header {
    color: white;
    padding: 10px;
    text-align: center;
}

div.header a:hover{
    /* text-decoration: underline; */
    /* text-shadow: 0px 0px 1px; */
    font-size: larger;
}

div.container {
    padding: 10px;
    color: rgb(65, 64, 64);
}

.more {
    text-align: center;
}

#yl .header {
    background-color:rgb(249, 62, 62);
    color: rgb(249, 249, 249);
}

#ll .header {
    background-color: rgb(253, 250, 119);
    color: rgb(2, 179, 2);
}

#wws .header {
    background-color:  #68f76d;
}

#ic .header {
    background-color: rgba(75, 169, 250, 0.849);
    color: rgb(32, 17, 201);
}

#wchtp .header {
    background-color: rgba(211, 211, 211, 0.849);
    color: rgb(255, 83, 83);
}

/* #aboutme { */
    /* border:solid #023e04; */
    /* float:left; */
/* } */

#aboutme>div {
    /* border:solid #68f76d; */
    margin-top: 60px;
    margin-left: 50px;
    display: inline-block;
    vertical-align: top;
}

#aboutme a {
    /* border:solid #3360f4; */
    display: inline-block;
}

#aboutme img {
    /* border:solid #f49a33; */
    width: 112px;
    height: 112px;
}

#aboutme>div:hover {
    margin-top: 50px;
    margin-bottom: 10px;
}


